@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

html {
    //font-size: 2.5vh;
    background: url("../img/stormy-weather-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    font-family: Oxygen, Arial, sans-serif;
    margin: 0;
    padding-bottom: 72px;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .5);
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    height: 100px;

    h1 {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;

        font-size: 3rem;
    }

    #screen-type {
        display: flex;
        justify-content: space-around;

        i {
            margin: 10px 5px 10px 5px;

        }

    }

}

#caption {
    margin-top: 84px;
    margin-left: 72px;

    width: 25%;

    background: rgba(0, 0, 0, .5);

    border: double white 4px;

    padding: 1rem 2rem 1rem 2rem;
}



@media screen and (min-width: 500px) {
    #phone {
        opacity: .5;
    }

    #tablet {
        opacity: .5;
    }

    #desktop {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #phone {
        opacity: .5;
    }

    #tablet {
        opacity: 1;
    }

    #desktop {
        opacity: .5;
    }

    #caption {
        width: 50%;
    }

    header {
        height: 144px;

        #screen-type {
            display: flex;

        }
    }


}

@media screen and (max-width: 450px) {
    #phone {
        opacity: 1;
    }

    #tablet {
        opacity: .5;
    }

    #desktop {
        opacity: .5;
    }

    header {
        h1 {

            //font-size: 10vw;
        }
    }

    #caption {
        margin-left: 2.5rem;
    }


}


